<section class="ff-page-width" style="padding:64px 0">
  <h1>{{ page.title | escape }}</h1>
  <div class="rte">{{ page.content }}</div>
</section>
{% schema %}
{ "name": "Main page", "settings": [] }
{% endschema %}
